@model IEnumerable<ProyectoBodegav02.Models.Inventario>

@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background-color: #632432;
        font-family: Arial;
    }


    #main-container {
        margin: 150px auto;
        width: 600px;
    }

    table {
        background-color: white;
        text-align: left;
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 20px;
    }

    thead {
        background-color: #000;
        border-bottom: solid 5px #0F362D;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #ddd;
    }

    tr:hover td {
        background-color: #369681;
        color: white;
    }
</style>


<h2>Inventario</h2>


<p>
    <button type="button" class="btn btn-dark">
        @Html.ActionLink("Create New", "Create")
    </button>
    
</p>

<body background="https://www.foreplanner.com/wp-content/uploads/2017/05/Sistema-de-control-de-inventarios.jpg">


    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha_Ingreso)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Producto.nom_Producto)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.nom_Producto)
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary">  @Html.ActionLink("Edit", "Edit", new { id = item.idInventario } , new { @style = "color:#fff;" }) </button>
                            <button type="button" class="btn btn-success">  @Html.ActionLink("Details", "Details", new { id = item.idInventario }, new { @style = "color:#fff;" }) </button>
                            <button type="button" class="btn btn-danger">   @Html.ActionLink("Delete", "Delete", new { id = item.idInventario }, new { @style = "color:#fff;" })   </button>

                            
                        </td>
                    </tr>
                </tbody>
            }

        </table>
    </div>
</body>