<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bodega Su Economia", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Productos", "Index", "Productos", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Usuarios", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Proveedores", "Index", "Proveedors", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Pedidos", "Index", "Pedidos", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Inventarios", "Index", "Inventarios", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Empleados", "Index", "Empleados", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Categorias", "Index", "Categorias", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Ver peiddos", "Index", "Pedido_Producto", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
        </footer>
    </div>


</body>
</html>
