@model IEnumerable<ProyectoBodegav02.Models.Proveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_Prove)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono_Prove)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion_Prove)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIF_Prove)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo_Prove)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_Prove)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono_Prove)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_Prove)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIF_Prove)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo_Prove)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProveedor }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProveedor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProveedor })
        </td>
    </tr>
}

</table>
