@model IEnumerable<ProyectoBodegav02.Models.Usuario>

@{
    ViewBag.Title = "Lista Usuario";
}

    <h2>Lista Usuario</h2>

<p>
    @Html.ActionLink("Crear nuevo usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Nombre
        </th>
        <th>
           Apellido
        </th>
        <th>
            Direccion
        </th>
        <th>
            Cedula
        </th>
        <th>
            Correo
        </th>
        <th>
            Genero
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cedula_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correro_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genero_Usuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idPersona }) |
            @Html.ActionLink("Actualizar", "Details", new { id=item.idPersona }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idPersona })
        </td>
    </tr>
}

</table>
